## 연습문제 1

- pandas를 임포트 한 후
- data 디렉터리로부터 wstudents.csv를 불러와 DataFrame에 담아 주십시오

In [1]:
# 여기에 코드를 작성해 주십시오
import pandas as pd
df = pd.read_csv("./data/wstudents.csv", sep = "\t")
df

   height,weights
0          151,48
1          154,44
2          160,48
3          160,52
4          163,58
..            ...
75         156,47
76         159,47
77         156,52
78         156,47
79         161,50

[80 rows x 1 columns]

## 연습문제 2
- 데이터프레임에는 어떤 컬럼들이 있습니까?
```
Index(['height', 'weights'], dtype='object')
```

In [8]:
# 여기에 코드를 작성해 주십시오
df.columns

Index(['height,weights'], dtype='object')

## 연습문제 3

- 생성한 데이터프레임의 크기를 측정해 주십시오.
- 출력 예시는 다음과 같습니다.

```
(80, 2)
```

In [7]:
# 여기에 코드를 작성해 주십시오
size = df.shape
"{}행 {}열의 데이터프레임".format(size[0], size[1])

'80행 1열의 데이터프레임'

## 연습문제 4
- 데이터프레임의 앞쪽 데이터를 출력해 주십시오
- 출력 개수는 Pandas 기본 설정값으로 합니다.

In [4]:
# 여기에 코드를 작성해 주십시오
df.head()

  height,weights
0         151,48
1         154,44
2         160,48
3         160,52
4         163,58

## 연습문제 5
- 데이터프레임의 뒤쪽 데이터를 일부 출력해 주십시오
- 출력 개수는 Pandas 기본 설정값으로 합니다.

In [5]:
# 여기에 코드를 작성해 주십시오
df.tail()

   height,weights
75         156,47
76         159,47
77         156,52
78         156,47
79         161,50

## 연습문제 6
- 데이터프레임의 전반적 정보를 확인해 주십시오
- 출력 예시는 아래와 같습니다
```
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 2 columns):
height     80 non-null int64
weights    80 non-null int64
dtypes: int64(2)
memory usage: 1.3 KB
```

In [9]:
# 여기에 코드를 작성해 주십시오
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height,weights  80 non-null     object
dtypes: object(1)
memory usage: 768.0+ bytes

## 연습문제 7
- 데이터프레임의 요약통계량을 출력해 주십시오
- 출력 예시는 다음과 같습니다.
```
           height    weights
count   80.000000  80.000000
mean   157.425000  50.700000
std      5.437272   6.267053
min    143.000000  38.000000
25%    154.000000  47.000000
50%    157.000000  50.000000
75%    161.000000  54.000000
max    169.000000  69.000000
```

In [22]:
df.describe()

       height,weights
count              80
unique             72
top            151,46
freq                3

## 연습문제 8
- 데이터프레임으로부터 평균 신장과 평균 체중을 구해 출력해 주십시오
- 출력 예시는 다음과 같습니다.

```
평균신장: 157.425
평균체중: 50.7
```

In [25]:
# 여기에 코드를 작성해 주십시오
df.mean('height')

ValueError: No axis named height for object type DataFrame

# 연습문제 9
- 데이터프레임으로부터 체중이 45kg 이하인 학생의 데이터를 추출해 주십시오
- 출력 예시는 다음과 같습니다.
```
    height  weights
1      154       44
8      154       45
12     156       43
```

In [7]:
# 여기에 코드를 작성해 주십시오

## 연습문제 10
- 데이터프레임으로부터 신장이 평균신장보다 큰 학생의 데이터를 추출해 주십시오
- 출력 예시는 다음과 같습니다.
```
    height  weights
2      160       48
3      160       52
4      163       58
...
```

In [8]:
# 여기에 코드를 작성해 주십시오